/**
 * @name Ragnar's Theme
 * @author Ragnar
 * @version 1.0.0
 * @description Just some QOL improvements.
 * @source https://github.com/Ragnar-es/VencordThemes/
*/

/* Remove chat gift button. */
button[aria-label="Send a gift"] {
    display: none;
}

/* Remove Apps Launcher button. */
button[aria-label="Apps"] {
    display: none;
}

/* Remove Edit Image with Apps. */
.hoverButton__06ab4 {
    display: none;
}

/* Remove GIF alt text footer */
.altText__0f481 {
    display: none;
}

/* Aligned Chat Box and Typing indicator */
.container_c48ade {
  --custom-chat-input-margin-bottom: 22px;
}
:root {
  --custom-channel-textarea-text-area-height: 42px;
}
.visual-refresh .base_b88801 {
  font-size: 13.5px;
  height: 22px;
  display: flex !important;
  align-items: center !important;
}

/* Resized Server list, channels, and userlist. */
:root {
    --custom-channel-header-height:42px;
    --custom-member-list-width:220px;
    --custom-guild-list-width:64px;
    --custom-guild-list-padding:6px;
    --padding-users-custom:6px !important;
    --padding-total-custom:1px !important;
    --top-left-corner:0px !important;
}
.wrapper__260e1 {
    border-radius: 10px !important;
}
.visual-refresh .users__260e1 {
    padding-left: var(--padding-users-custom);
}
.visual-refresh .total__260e1 {
    padding-left: var(--padding-total-custom);
}
.sidebarListRounded_c48ade {
    border-top-left-radius: var(--top-left-corner) !important;
}

/* Round icons */
.icon_f34534.guildIcon__48112 { 
  border-radius: 50% !important 
}
[class*="guildIcon_"], [class*="icon_"]:not(.icon__0ccae) {
  border-radius: 50% !important;
}
.visual-refresh {
  --g-48-r: calc(var(--guildbar-avatar-size)* 50 / 40);
}


/* Resized Chat Bar Buttons */
.visual-refresh .scrollerInner__36d07 {
    padding-bottom: 5px;
}
.visual-refresh .button__74017,.buttonContents_e6e74f:not([class*="enabled__67645"]) {
    transform: scale(1.25) !important;
}
.visual-refresh .spriteContainer__04eed {
   transform: scale(1.1) !important;
}

/* Detailed Timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}
span[class*="timestampInline_"] {
  font-size: 0px !important;
}

/* Original Server List Design */
.visual-refresh {
    --guildbar-avatar-size: 48px;

    .listItem__650eb {
        defs > path {
            d: path("M 0 0 H 200 V 200 H 0 Z");
        }

        .childWrapper__6e9f8,
        .icon__6e9f8,
        .icon_f34534,
        .circleIconButton__5bc7e {
            border-radius: 100% !important;
        }

        .svg_cc5dd2:not(.folderIcon__48112 .svg_cc5dd2) > mask {
            use[href$="-lower_badge_masks"] {
                transform: translate(8px, 8px);
            }
            use[href$="-upper_badge_masks"] {
                transform: translate(8px, 0px);
            }
        }

        .svg_cc5dd2 {
            top: 0px;
            left: 0px;

            foreignObject {
                width: var(--guildbar-avatar-size);
                height: var(--guildbar-avatar-size);
                transform: translate(-4px, -4px);
            }
        }
    }

    .stack_dbd263 >
    div:not([class]):has(.listItem__650eb) {
        height: 48px !important;
    }

    .isExpanded__48112 .stack_dbd263 {
        height: auto !important;
    }
}

.expandedFolderBackground__48112 {
    width: 52px;
}

/* Remove Activity Cards Menu */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

/* Custom User Area */
.visual-refresh [class^="panels_"] {
    border-radius: 9;
    left: calc(var(--custom-guild-list-width) + 6px);
    bottom: 9px;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 10px);
}
div[class^=sidebar_] nav[class^=wrapper_]{
  margin-bottom: unset!important;
}

.visual-refresh .sidebar_c48ade:after {
    display:none;
}
