/**
 * @name Ragnar's Theme
 * @author Ragnar
 * @version 1.0.0
 * @description Just some QOL improvements.
 * @source https://github.com/Ragnar-es/VencordThemes/
*/


/* Remove title bar & Seamless Chat Bar */
@import url('https://raw.githubusercontent.com/Ragnar-es/Vencord-themes/refs/heads/main/Remove_Title_Bar.css');
@import url('https://raw.githubusercontent.com/Ragnar-es/Vencord-themes/refs/heads/main/SeamlessChatBar.css');
@import url('https://raw.githubusercontent.com/Ragnar-es/Vencord-themes/refs/heads/main/GuildbarRevert.css');

/* Remove chat gift button. */
button[aria-label="Send a gift"] {
    display: none;
}

/* Remove Apps Launcher button. */
button[aria-label="Apps"] {
    display: none;
}

/* Remove Edit Image with Apps. */
.hoverButton__06ab4 {
    display: none;
}

/* Remove GIF alt text footer */
.altText__0f481 {
    display: none;
}

/* Resized Server list width, and userlist width. */
:root {
    --custom-member-list-width:220px;
	--custom-guild-list-padding: 8px !important;
}

span[class*="folderGroupBackground__"] {
	width: 54px !important;
	left: 5px !important;
	top: -3px !important;
}

/* Round icons */
.icon_f34534.guildIcon__48112 { 
  border-radius: 50% !important 
}
[class*="guildIcon_"], [class*="icon_"]:not(.icon__0ccae) {
  border-radius: 50% !important;
}
.visual-refresh {
  --g-48-r: calc(var(--guildbar-avatar-size)* 50 / 40);
}


/* Resized Chat Bar Buttons */
.visual-refresh .scrollerInner__36d07 {
    padding-bottom: 5px;
}
.visual-refresh .button__74017,.buttonContents_e6e74f:not([class*="enabled__67645"]) {
    transform: scale(1.25) !important;
}
.visual-refresh .spriteContainer__04eed {
   transform: scale(1.1) !important;
}

/* Detailed Timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}
span[class*="timestampInline_"] {
  font-size: 0px !important;
}

/* Remove Activity Cards Menu */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

/* Custom User Area */
.visual-refresh [class^="panels_"] {
    border-radius: 9;
    left: calc(var(--custom-guild-list-width) + 6px);
    bottom: 9px;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 10px);
}
div[class^=sidebar_] nav[class^=wrapper_]{
  margin-bottom: unset!important;
}

.visual-refresh .container__37e49 {
    display: flex;
	justify-content: center;
	height:51px;
}
  
.visual-refresh .sidebar_c48ade:after {
    display:none;
}

/* Scrollbar Color Opacity */
.auto_d125d2::-webkit-scrollbar-thumb {
    background-color: #ffffff11;
}

/* Remove Help Button */
[href="https://support.discord.com"] { display: none; }
:root {
  --vr-header-snippet-space: 132px !important;
}

/* Remove scrollbar from channel and user list */
:root {
    --scrollbar-thin-thumb: display: none !important;
}

/* Fix Threads Close Button */
:root {
    --vr-header-snippet-space: 180px !important;
}
